Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
PyRSS2Gen==1.0.0
Twisted==12.0.0
Werkzeug==0.9.4
altgraph==0.9
bdist-mpkg==0.4.4
facepy==0.8.4
gunicorn==18.0
itsdangerous==0.23
macholib==1.4.2
modulegraph==0.9.1
numpy==1.6.1
py2app==0.6.3
pyOpenSSL==0.13
