<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/base.css" rel="stylesheet"/>

</head>
<body ng-app="pickmeup" ng-cloak>
<div class="panel panel-body">
    <div class="panel-body" ng-controller="ListController">

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="friend in friends.list">
                <a href="{{ ios && 'maps://' || 'https://maps.google.com/' }}?saddr={{ location.current_location }}&daddr={{ friend.latitude | escape }},{{ friend.longitude |escape }}">
                    <img ng-src="https://graph.facebook.com/{{ friend.ID }}/picture?type=square" class="img32"/>
                    {{ friend.name }}
                    <span class="f2">at {{ friend.location }}</span>
                </a>
            </li>
        </ul>
        <!--<ul class="nav nav-pills nav-justified">-->
            <!--<li class="active" ng-click="test()"><a>Native Map</a></li>-->
            <!--<li ng-click="test()"><a>Google Map</a></li>-->
        <!--</ul>-->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="javascript/controller.js"></script>
</body>
</html>